<% console.log("archive")%>
<section class="archive">
    <ul class="post-archive">
        <% page.posts.each(function(post) { %>
            <li class="post-item">
                <a class="post-title" href="<%-url_for(post.path)-%>">
                    <%= post.title %>
                </a>
                <span class="post-date">
                    <%= date(post.date,"YYYY-MM-DD") %>
                </span>
            </li>
        <% }) %>
    </ul>
</section>
<%- partial('_partial/paginator') %>