<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body>
      <div class="container">
        <%- partial('_partial/header') %>
        <div class="main">
          <%- body %>
        </div>
      </div>
    </body>
</html>