.archive 
    padding: 1.2rem 2.3rem
    background-color: #ffffff
    border: 1px solid #dddddd
    .post-archive
        list-style: none
        padding: 0
        .post-item 
            margin: 5px 0
            .post-date
                display: inline-block
                margin-right: 10px
                color: c-darkgray              
            .post-title
                color: c-darkgray
                text-decoration: none
