.archive 
    padding: c-blockpadding
    background-color: c-white
    border: 1px solid c-bordergray
    .post-archive
        list-style: none
        padding: 0
        .post-item 
            margin: 5px 0
            display: flex
            justify-content: space-between
            .post-date
                display: inline-block
                margin-right: 10px
                color: c-darkgray              
            .post-title
                color: c-darkgray
                text-decoration: none
                &:hover
                    color: c-black
