.header
    margin-top 2rem
    display flex
    justify-content space-between
    align-items: center
    .blog-title
    .logo
        color c-green
        font-size 3rem
        text-decoration none
        margin-right: 1.5rem
    .menu
        margin: 0
        padding: 0
        .menu-item
            display: inline-block
            margin-right: 0.75rem
            .menu-item-link
                color: c-darkgray
                text-decoration: none
                &:hover
                    color: c-black


