.page-nav
    padding: 0.5rem 0
    text-align: center
    background-color: c-white
    border: 1px solid c-bordergray
    .prev
    .next
    .page-number
        padding: 0.1rem 0.5rem
    .prev
        float: left

    .next 
        float: right
    a
        color c-darkgray
        text-decoration: none
        &:hover 
            color: c-black