.post
    margin: 0 auto 1rem
    padding: c-blockpadding
    background-color: c-white
    border: 1px solid c-bordergray
    .post-title 
        font-size: 1.5rem
        .title 
            margin: 1.5rem 0 0 0
        .post-title-link
            color: c-green
            text-decoration: none
    .post-content 
        font-size: 1.2rem
        a
            color: c-darkgray
            &:hover
                color: c-black
    .post-meta
        display: flex
        justify-content: space-around 
        align-items: center
        color: c-darkgray
        font-size: 1rem
        ul
            padding: 0
            margin: 0
        a
            color: c-darkgray 
            text-decoration: none
        .post-tags
            .tag-list
                display: flex
                .tag-list-item 
                    margin-left: 0.7rem
                    list-style: none

                
            
